.App {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: grid;
  place-items: center;
}

.grid {
  display: grid;
  background-color: teal;
  height: 90%;
  width: 90%;
  grid-template-columns: repeat(25, 1fr);
  grid-template-rows: repeat(20, 1fr);
  padding: 5%;
  gap: 0.5%;
  /* aspect-ratio: 1 / 1; */
}